<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PW모니터링</title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    #pwdatatable {
        max-height: 60%;
        /* 최대 높이를 60%로 설정 */
        overflow-y: auto;
        /* 세로 스크롤만 표시되도록 설정 */
    }

    #datatable-container {
        max-height: 1000px;
        /* Adjust the maximum height as needed */
        overflow-y: auto;
        /* Add vertical scrollbars if the content exceeds the container height */
    }

    .form-select {
        display: block;
        width: 80%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #datatable {
        width: 100%;
        /* Other table styles */
    }

    .popup_title {
        color: red;
    }



    /* machine 열 배경색 스타일 */
    .machine-row {
        background-color: rgb(230, 226, 226);
        /* 원하는 배경색으로 변경 */
    }

    .main_header {
        background-color: #3498db;
        /* Header background color */
        color: #fff;
        /* Text color */
        padding: 10px;
        /* Padding around the content */
        text-align: center;
        /* Center-align text */
        font-size: 24px;
        /* Font size */
        font-weight: bold;
        /* Font weight */
        text-decoration: none;
        /* Remove default text underline */
        display: flex;
        /* Use flexbox for better layout control */
        justify-content: center;
        /* Center content horizontally */
        align-items: center;
        /* Center content vertically */
    }

    .main_header a {
        color: #fff;
        /* Text color for the link */
        text-decoration: none;
        /* Remove default text underline for the link */
    }

    /* Optional: Add a hover effect for the link */
    .main_header a:hover {
        text-decoration: underline;
        /* Underline the link on hover */
    }
</style>

<body>
    <div class="main_header">
        <img src="/img/logo.png" width="100" height="50">
        <a style="font-size:30px;">P.W Production Monitoring</a>
    </div>


    <div id="loadingOverlay">
        <img src="/img/logo.png" alt="로딩 이미지" class="loadingImage">

    </div>



    <div id="datatable-container">

        <table class="styled-table" id="datatable">
            <thead>
                <tr>
                    <th style="width:auto; font-weight: bold;">작업지시날짜</th>
                    <th style="width:auto; font-weight: bold;">고객사</th>
                    <th style="width:auto; font-weight: bold;">차종</th>
                    <th style="width:auto; font-weight: bold;">품번</th>
                    <th style="width:auto; font-weight: bold;">구분</th>
                    <th style="width:auto; font-weight: bold;">품명</th>
                    <th style="width:auto; font-weight: bold;">설비명</th>
                    <th style="width:auto; font-weight: bold;">타점수</th>
                    <th style="width:auto; font-weight: bold;">HW부번</th>
                    <th style="width:auto; font-weight: bold;">HW품명</th>
                    <th style="width:auto; font-weight: bold;">HW수량</th>
                    <th style="width:auto; font-weight: bold;">통전</th>
                    <th style="width:auto; font-weight: bold;">전류</th>
                    <th style="width:auto; font-weight: bold;">초기가압</th>
                    <th style="width:auto; font-weight: bold;">유지</th>
                    <th style="width:auto; font-weight: bold;">지시수량</th>
                    <th style="width:auto; font-weight: bold;">작업자</th>
                    <th style="width:auto; font-weight: bold;">상태</th>

                </tr>
            </thead>
            <tbody id="Datatbody">
            </tbody>

        </table>

    </div>
    <!-- 등록창 -->
    <div id="popupOverlay" style="display: none;">

        <div id="popupContent" style="width:90%;  max-height: 80%; overflow-y: auto;">
            <div class="form-group">
                <table style="width:100%;" class="popuptable">
                    <tr>
                        <td colspan="2" class="popup_title">작업지시추가</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">차종</td>
                        <td>
                            <select id="cartype-select" style="width: 150px" class="form-select">
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                    <table class="styled-table" id="pwdatatable">
                        <thead>
                            <tr>
                                <th style="width: auto;">고객사</th>
                                <th style="width: auto;">차종</th>
                                <th style="width: auto;">품번</th>
                                <th style="width: auto;">구분</th>
                                <th style="width: auto;">품명</th>
                                <th style="width: auto;">설비</th>
                                <th style="width: auto;">용접타점수</th>
                                <th style="width: auto;">H/W품번</th>
                                <th style="width: auto;">H/W품명</th>
                                <th style="width: auto;">H/W개수</th>
                                <th style="width: auto;">통전</th>
                                <th style="width: auto;">전류</th>
                                <th style="width: auto;">초기가압</th>
                                <th style="width: auto;">유지</th>
                                <th style="width:80px;">선택</th>

                            </tr>
                        </thead>
                        <tbody id="pwdatatabletbody">
                        </tbody>

                    </table>


                </table>
            </div>
            <button id="popupCloseBtn-save-close">취소</button>
            <button id="popupCloseBtn-save" onclick="Datasave()">저장</button>
        </div>
    </div>

    <!-- 수정창 -->
    <div id="popupOverlay1" style="display: none; ">
        <div id="popupContent" style="width: 40%;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="popup_title">PW 작업지시</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">고객사</td>
                        <td><input type="text" id="customer-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">차종</td>
                        <td><input type="text" id="cartype-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품번</td>
                        <td><input type="text" id="productnumber-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">구분</td>
                        <td><input type="text" id="sub-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품명</td>
                        <td><input type="text" id="productname-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">설비</td>
                        <td><input type="text" id="marchine-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">타점수</td>
                        <td><input type="text" id="touch-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W부번</td>
                        <td><input type="text" id="sanum-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W품명</td>
                        <td><input type="text" id="sapum-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W개수</td>
                        <td><input type="text" id="sacount-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">통전</td>
                        <td><input type="text" id="a-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">전류</td>
                        <td><input type="text" id="b-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">초기가압</td>
                        <td><input type="text" id="c-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">유지</td>
                        <td><input type="text" id="d-save" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">지시수량</td>
                        <td><input type="text" id="count-save" class="data" autocomplete="off"
                                oninput="validateNumberInput(this)" style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">작업자</td>
                        <td>
                            <select id="people-save" style="width: 150px" class="form-select">
                                <option value=""></option>
                                <option value="바룰">바룰</option>
                                <option value="김경분">김경분</option>
                                <option value="숀조이">숀조이</option>
                                <option value="술리스툐">술리스툐</option>
                                <option value="알리">알리</option>
                                <option value="사리">사리</option>
                                <option value="유광일">유광일</option>
                                <option value="유습">유습</option>
                                <option value="소전">소전</option>
                                <option value="파이살">파이살</option>
                            </select>
                        </td>
                    </tr>

                </table>
            </div>
            <button id="popupCloseBtn-edit-close">취소</button>
            <button id="popupCloseBtn-edit" onclick="Dataedit()">저장</button>
            <input type="text" id="id-edit" style="visibility: hidden; width: 10px; float: right;" autocomplete="off">
        </div>
    </div>
    <div id="popupOverlay3" style="display: none; ">
        <div id="popupContent" style="width: 40%;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="popup_title">PW 작업지시 수정</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">고객사</td>
                        <td><input type="text" id="customer-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">차종</td>
                        <td><input type="text" id="cartype-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품번</td>
                        <td><input type="text" id="productnumber-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">구분</td>
                        <td><input type="text" id="sub-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품명</td>
                        <td><input type="text" id="productname-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">설비</td>
                        <td><input type="text" id="marchine-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">타점수</td>
                        <td><input type="text" id="touch-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W부번</td>
                        <td><input type="text" id="sanum-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W품명</td>
                        <td><input type="text" id="sapum-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W개수</td>
                        <td><input type="text" id="sacount-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">통전</td>
                        <td><input type="text" id="a-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">전류</td>
                        <td><input type="text" id="b-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">초기가압</td>
                        <td><input type="text" id="c-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">유지</td>
                        <td><input type="text" id="d-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">지시수량</td>
                        <td><input type="text" id="count-edit" class="data" autocomplete="off"
                                oninput="validateNumberInput(this)" style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">작업자</td>
                        <td>
                            <select id="people-edit" style="width: 150px" class="form-select">
                                <option value=""></option>
                                <option value="바룰">바룰</option>
                                <option value="김경분">김경분</option>
                                <option value="숀조이">숀조이</option>
                                <option value="술리스툐">술리스툐</option>
                                <option value="알리">알리</option>
                                <option value="사리">사리</option>
                                <option value="유광일">유광일</option>
                                <option value="유습">유습</option>
                                <option value="소전">소전</option>
                                <option value="파이살">파이살</option>
                            </select>
                        </td>
                    </tr>

                </table>
            </div>
            <button id="popupCloseBtn-pwedit-close">취소</button>
            <button id="popupCloseBtn-pwedit" onclick="PWedit()">수정</button>
            <input type="text" id="id-edit1" style="visibility: hidden; width: 10px; float: right;" autocomplete="off">
        </div>
    </div>


    <!-- 삭제창 -->
    <div id="popupOverlay2" style="display: none;">
        <div id="popupContent">
            <div class="form-group">
                <table style="width:100%;">

                    <tr>
                        <td style="width: 100%;" class="popup_title">지시 정보를 삭제하시겠습니까?</td>
                    </tr>

                </table>
            </div>
            <button id="popupCloseBtn-delete-close">취소</button>
            <button id="popupCloseBtn-delete" onclick="Datadelte()">삭제</button>
            <input type="text" id="id-edit" style="visibility: hidden; width: 10px; float: right;" autocomplete="off">
        </div>
    </div>


    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://gmauto.xyz';
        }
        $(document).ready(function () {
            setInterval(function () {
                if (newWindow && !newWindow.closed) {
                    newWindow.location.reload(true);
                }
            }, 10000);
            showLoading()
            load()
            const selectElement = document.getElementById("cartype-select");

            if (selectElement) {
                // 첫 번째 셀렉트 박스 데이터 로딩
                $.ajax({
                    type: 'POST',
                    url: server + '/api/selectcartype',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        for (let i = 0; i < result.length; i++) {
                            const option = document.createElement("option");
                            option.text = result[i].cartype;
                            option.value = result[i].cartype;
                            selectElement.add(option);
                        }
                    },
                });
            }
            $('#pwdatatable').on('click', '.data-edit', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();

                var customer = td.eq(0).text();
                var cartype = td.eq(1).text();
                var productnumber = td.eq(2).text();
                var sub = td.eq(3).text();
                var productname = td.eq(4).text();
                var marchine = td.eq(5).text();
                var touch = td.eq(6).text();
                var sanum = td.eq(7).text();
                var sapum = td.eq(8).text();
                var sacount = td.eq(9).text();
                var a = td.eq(10).text();
                var b = td.eq(11).text();
                var c = td.eq(12).text();
                var d = td.eq(13).text();
                $('#customer-save').val(customer)
                $('#cartype-save').val(cartype)
                $('#productnumber-save').val(productnumber)
                $('#sub-save').val(sub)
                $('#productname-save').val(productname)
                $('#marchine-save').val(marchine)
                $('#touch-save').val(touch)
                $('#sanum-save').val(sanum)
                $('#sapum-save').val(sapum)
                $('#sacount-save').val(sacount)
                $('#a-save').val(a)
                $('#b-save').val(b)
                $('#c-save').val(c)
                $('#d-save').val(d)
                $('#count-save').val('')
                $('#people-save').val('')
                $('#popupOverlay1').fadeIn();
                $('#count-save').focus()

            });
            $('#datatable').on('click', '.data-edit', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();

                var customer = td.eq(1).text();
                var cartype = td.eq(2).text();
                var productnumber = td.eq(3).text();
                var sub = td.eq(4).text();
                var productname = td.eq(5).text();
                var marchine = td.eq(6).text();
                var touch = td.eq(7).text();
                var sanum = td.eq(8).text();
                var sapum = td.eq(9).text();
                var sacount = td.eq(10).text();
                var a = td.eq(11).text();
                var b = td.eq(12).text();
                var c = td.eq(13).text();
                var d = td.eq(14).text();
                var id = td.eq(20).text();
                $('#customer-edit').val(customer)
                $('#cartype-edit').val(cartype)
                $('#productnumber-edit').val(productnumber)
                $('#sub-edit').val(sub)
                $('#productname-edit').val(productname)
                $('#marchine-edit').val(marchine)
                $('#touch-edit').val(touch)
                $('#sanum-edit').val(sanum)
                $('#sapum-edit').val(sapum)
                $('#sacount-edit').val(sacount)
                $('#a-edit').val(a)
                $('#b-edit').val(b)
                $('#c-edit').val(c)
                $('#d-edit').val(d)
                $('#id-edit1').val(id)
                $('#count-edit').val('')
                $('#people-edit').val('')
                $('#popupOverlay3').fadeIn();
                $('#count-edit').focus()

            });
            $('#datatable').on('click', '.data-delete', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();


                var id = td.eq(20).text();
                $('#id-edit').val(id)
                $('#popupOverlay2').fadeIn();
            });


            $('#popupCloseBtn-save-close').click(function () {
                $('#popupOverlay').fadeOut();
            });
            $('#popupCloseBtn-edit-close').click(function () {
                $('#popupOverlay1').fadeOut();
            });
            $('#popupCloseBtn-delete-close').click(function () {
                $('#popupOverlay2').fadeOut();
            });
            $('#popupCloseBtn-pwedit-close').click(function () {
                $('#popupOverlay3').fadeOut();
            });


        });



        //오름차순 내림차순
        function sortTable(columnIndex) {
            var table, rows, switching, i, x, y, shouldSwitch, direction, switchcount = 0;
            table = document.getElementById("datatable");
            switching = true;
            direction = "asc"; // 기본 정렬 방향은 오름차순

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("tr");

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[columnIndex];
                    y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                    if (direction == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (direction == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && direction == "asc") {
                        direction = "desc";
                        switching = true;
                    }
                }
            }
        }

        //검색
        function search() {
            const searchInput = document.getElementById('myInput');
            const dataTable = document.getElementById('datatable');
            const tableRows = dataTable.getElementsByTagName('tr');
            const dataCountCell = document.getElementById('dataCount');

            searchInput.addEventListener('input', function () {
                const searchValue = this.value.toLowerCase();
                let count = 0;

                for (let i = 1; i < tableRows.length; i++) {
                    const rowData = tableRows[i].getElementsByTagName('td');
                    let found = false;

                    for (let j = 0; j < rowData.length; j++) {
                        const cellData = rowData[j].textContent.toLowerCase();

                        if (cellData.includes(searchValue)) {
                            found = true;
                            break;
                        }
                    }

                    if (found) {
                        tableRows[i].style.display = '';
                        count++;
                    } else {
                        tableRows[i].style.display = 'none';
                    }
                }

                dataCountCell.textContent = `검색 결과 개수: ${count - 1}`;
            });
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";

            // 로딩 완료 후 일정 시간 후 로딩 창 숨기기 (테스트용)
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }

        function New() {
            // $('#cartype-selct').val('')




            $('#popupOverlay').fadeIn();

        }

        function Datasave() {
            if (confirm("고객사 정보를 등록 하시겠습니까??") == true) {


                var accountcode = $('#accountcode-save').val();
                var accountname = $('#accountname-save').val();
                var representativename = $('#representativename-save').val();
                var phone = $('#phone-save').val();
                var adress = $('#adress-save').val();
                var number = $('#number-save').val();
                var fax = $('#fax-save').val();
                var mobile = $('#mobile-save').val();
                var email = $('#email-save').val();
                var etc = $('#etc-save').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountinfoinsertdata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "accountcode": accountcode,
                        "accountname": accountname,
                        "representativename": representativename,
                        "phone": phone,
                        "adress": adress,
                        "number": number,
                        "fax": fax,
                        "mobile": mobile,
                        "email": email,
                        "etc": etc




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }
        function PWedit() {
            if (confirm("PW 정보 수정 하시겠습니까??") == true) {


                var id = $('#id-edit1').val();
                var people = $('#people-edit').val();
                var count = $('#count-edit').val();


                $.ajax({
                    type: 'POST',
                    url: server + '/api/updatepwjisi',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "people": people,
                        "count": count,
                        "id": id

                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay3').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/logo.png" alt="Notification Icon"><span class="notification-message" style="color:navy;">수정 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function Dataedit() {
            if (confirm("P.W지시를 등록 하시겠습니까??") == true) {
                var today = new Date();

                // 년, 월, 일을 가져오기
                var year = today.getFullYear();
                var month = (today.getMonth() + 1).toString().padStart(2, '0'); // 월은 0부터 시작하므로 1을 더하고, 문자열로 변환
                var day = today.getDate().toString().padStart(2, '0'); // 일자를 문자열로 변환

                // 날짜를 문자열로 조합
                var dateString = year + '-' + month + '-' + day;
                $.ajax({
                    type: 'POST',
                    url: server + '/api/insertpwjisi',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({


                        plandate: dateString,
                        customer: $('#customer-save').val(),
                        cartype: $('#cartype-save').val(),
                        productnumber: $('#productnumber-save').val(),
                        sub: $('#sub-save').val(),
                        productname: $('#productname-save').val(),
                        marchine: $('#marchine-save').val(),
                        touch: $('#touch-save').val(),
                        sanum: $('#sanum-save').val(),
                        sapum: $('#sapum-save').val(),
                        sacount: $('#sacount-save').val(),
                        a: $('#a-save').val(),
                        b: $('#b-save').val(),
                        c: $('#c-save').val(),
                        d: $('#d-save').val(),
                        count: $('#count-save').val(),
                        people: $('#people-save').val(),
                        status: '대기중',
                        finalcount: '0',
                        starttime: '',
                        finaltime: '',



                    }),
                    success: function (result) {
                    }
                })

                $('#popupOverlay1').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/logo.png" alt="Notification Icon"><span class="notification-message" style="color:navy;">작업지시 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }


        function Datadelte() {
            $.ajax({
                type: 'POST',
                url: server + '/api/deletepwjisi',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    id: $('#id-edit').val(),

                }),
                success: function (result) {
                }

            })
            $('#popupOverlay2').fadeOut();
            setTimeout(function () {
                load()
            }, 50); // 3초 후에 알림을 사라지게 설정
            var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 삭제 완료</span></div>');
            $('body').append(notification);
            setTimeout(function () {
                notification.fadeOut(function () {
                    $(this).remove();
                });
            }, 3000);
        }

        function load() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/selectpwplan',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            var statusColor = data[i].status === '대기중' ? 'lime' : data[i].status === '생산중' ? 'blue' : data[i].status === '생산완료' ? 'red' : '';
                            var statusTextColor = data[i].status === '대기중' ? 'black' : data[i].status === '생산중' ? 'white' : data[i].status === '생산완료' ? 'white' : '';
                            var blinkingClass = data[i].status === '생산중' ? 'blinking' : '';

                            $('#datatable').append(
                                '<tr>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].plandate + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].customer + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].cartype + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].productnumber + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].sub + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].productname + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].marchine + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].touch + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].sanum + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].sapum + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].sacount + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].a + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].b + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].c + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].d + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].count + '</td>' +
                                '<td style="font-weight:bold; font-size:18px;">' + data[i].people + '</td>' +
                                '<td class="' + blinkingClass + '" style="color: ' + statusTextColor + '; background-color: ' + statusColor + ';">' + data[i].status + '</td>' +

                                '<td id="data-id">' + data[i].id + '</td>' +
                                '</tr>'
                            )
                            $("td#data-id").hide();
                        }
                    }

                    // 생산중 및 생산완료인 행에 대해 깜빡이는 효과
                    setInterval(function () {
                        $('.blinking').toggleClass('blink');
                    }, 500);
                }
            });
        }


        function marchinegroup() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/selectpwplan',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        var machineData = {};

                        for (var i = 0; i < data.length; i++) {
                            var machine = data[i].marchine;

                            if (!machineData[machine]) {
                                machineData[machine] = [];
                            }

                            machineData[machine].push(data[i]);
                        }

                        // machine 별로 데이터 표시
                        for (var machine in machineData) {
                            var machineEntries = machineData[machine];
                            $('#datatable').append(
                                '<tr class="machine-row" style="background-color: rgb(230, 226, 226); color: white;">' +
                                '<td colspan="20"><strong>' + machine + '</strong></td>' +
                                '</tr>'
                            );

                            for (var j = 0; j < machineEntries.length; j++) {
                                var status = machineEntries[j].status; // Ensure status is accessible here
                                var statusColor = status === '대기중' ? 'lime' : status === '생산중' ? 'blue' : '';
                                var statusTextColor = status === '대기중' ? 'black' : status === '생산중' ? 'white' : '';

                                var row = $('<tr></tr>');
                                row.append(createCell(machineEntries[j].plandate));
                                row.append(createCell(machineEntries[j].customer));
                                row.append(createCell(machineEntries[j].cartype));
                                row.append(createCell(machineEntries[j].productnumber));
                                row.append(createCell(machineEntries[j].sub));
                                row.append(createCell(machineEntries[j].productname));
                                row.append(createCell(machineEntries[j].marchine));
                                row.append(createCell(machineEntries[j].touch));
                                row.append(createCell(machineEntries[j].sanum));
                                row.append(createCell(machineEntries[j].sapum));
                                row.append(createCell(machineEntries[j].sacount));
                                row.append(createCell(machineEntries[j].a));
                                row.append(createCell(machineEntries[j].b));
                                row.append(createCell(machineEntries[j].c));
                                row.append(createCell(machineEntries[j].d));
                                row.append(createCell(machineEntries[j].count));
                                row.append(createCell(machineEntries[j].people));
                                row.append(createStatusCell(statusTextColor, statusColor, status));
                                row.append(createCellLink('수정', 'navy', 'data-edit'));
                                row.append(createCellLink('삭제', 'red', 'data-delete'));


                                $('#datatable').append(row);
                            }

                        }
                    }
                }
            });

            function createCell(value) {
                return '<td>' + value + '</td>';
            }

            function createStatusCell(textColor, bgColor, status) {
                return '<td style="color: ' + textColor + '; background-color: ' + bgColor + ';">' + status + '</td>';
            }

            function createCellLink(text, color, className) {
                return '<td><a class="' + className + '" style="cursor: pointer; color: ' + color + ';">' + text + '</a></td>';
            }
        }



        function people() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/selectpwplan',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        var peopleData = {};

                        for (var i = 0; i < data.length; i++) {
                            var people = data[i].people;

                            if (!peopleData[people]) {
                                peopleData[people] = [];
                            }

                            peopleData[people].push(data[i]);
                        }

                        // people 별로 데이터 표시
                        for (var people in peopleData) {
                            var peopleEntries = peopleData[people];
                            $('#datatable').append(
                                '<tr class="people-row" style="background-color:rgb(230, 226, 226); color:white;"><td colspan="10"><strong>' + people + '</strong></td></tr>'
                            );
                            for (var j = 0; j < peopleEntries.length; j++) {
                                $('#datatable').append(
                                    '<tr>' +
                                    '<td>' + peopleEntries[j].plandate + '</td>' +
                                    '<td>' + peopleEntries[j].cartype + '</td>' +
                                    '<td>' + peopleEntries[j].productnumber + '</td>' +
                                    '<td>' + peopleEntries[j].productname + '</td>' +
                                    '<td>' + peopleEntries[j].marchine + '</td>' +
                                    '<td>' + peopleEntries[j].hw + '</td>' +
                                    '<td>' + peopleEntries[j].people + '</td>' +
                                    '<td>' + peopleEntries[j].count + '</td>' +
                                    '<td><a class="data-edit" style="cursor:pointer; color:navy;">수정</a></td>' +
                                    '<td><a class="data-delete" style="cursor:pointer; color:red;">삭제</a></td>' +
                                    '<td id="data-id">' + peopleEntries[j].id + '</td>' +
                                    '</tr>'
                                );
                                $("td#data-id").hide();
                            }
                        }
                    }
                }
            });
        }


    </script>
    <script>

        var cartypeSelect = document.getElementById('cartype-select');
        cartypeSelect.addEventListener('change', function () {
            var selectedValue = cartypeSelect.value;

            $.ajax({
                type: 'POST',
                url: server + '/api/pwmainselect',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    cartype: selectedValue

                }),
                success: function (result) {
                    var tableBody = $('#pwdatatabletbody');
                    tableBody.empty()
                    if (result.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        for (var i = 0; i < result.length; i++) {
                            tableBody.append(
                                '<tr>' +
                                '<td>' + result[i].customer + '</td>' +
                                '<td>' + result[i].cartype + '</td>' +
                                '<td>' + result[i].productnumber + '</td>' +
                                '<td>' + result[i].sub + '</td>' +
                                '<td>' + result[i].productname + '</td>' +
                                '<td>' + result[i].marchine + '</td>' +
                                '<td>' + result[i].touch + '</td>' +
                                '<td>' + result[i].sanum + '</td>' +
                                '<td>' + result[i].sapum + '</td>' +
                                '<td>' + result[i].sacount + '</td>' +
                                '<td>' + result[i].a + '</td>' +
                                '<td>' + result[i].b + '</td>' +
                                '<td>' + result[i].c + '</td>' +
                                '<td>' + result[i].d + '</td>' +
                                '<td><a class="data-edit" style="cursor:pointer; color:blue;">선택</a></td>' +
                                '</tr>'
                            );
                        }
                    }

                    var notification = $('<div class="notification"><img src="/img/logo.png" alt="Notification Icon"><span style="color:navy;" class="notification-message">조회 완료</span></div>');
                    $('body').append(notification);
                    setTimeout(function () {
                        notification.fadeOut(function () {
                            $(this).remove();
                        });
                    }, 3000);
                }
            });
        });
        function validateNumberInput(input) {
            // 입력된 값에서 숫자와 소수점 이외의 문자 제거
            input.value = input.value.replace(/[^0-9.]/g, '');

            // 여러 개의 소수점이 있는 경우 첫 번째 소수점 이후의 모든 소수점 제거
            var dotIndex = input.value.indexOf('.');
            if (dotIndex !== -1) {
                var remainingDots = input.value.substring(dotIndex + 1).replace(/\./g, '');
                input.value = input.value.substring(0, dotIndex + 1) + remainingDots;
            }
        }
    </script>



</body>

</html>