<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>거래처정보</title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    /* Apply styles to the select input */
    .form-select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 150px;
    }

    /* Apply styles to the date inputs */
    .form-input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 150px;
    }

    /* Apply styles to the button */
    .styled-button {
        cursor: pointer;
        padding: 8px 16px;
        background-color: navy;
        color: white;
        border: none;
        border-radius: 4px;
    }



    #datatable-container {
        max-height: 1000px;
        /* Adjust the maximum height as needed */
        overflow-y: auto;
        /* Add vertical scrollbars if the content exceeds the container height */
    }

    #datatable {
        width: 100%;
        /* Other table styles */
    }

    .popup_title {
        color: red;
    }

    /* Style the select container */
    .search_form-group select {
        width: 150px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* Style the options inside the dropdown */
    .search_form-group select option {
        font-size: 16px;
    }
</style>

<body>
    <div class="main_header">
        <a>P.W 작업일보</a>
    </div>


    <div id="loadingOverlay">
        <img src="/img/logo.png" alt="로딩 이미지" class="loadingImage">

    </div>
    <div class="search_form-group1" style="border: 1px solid #ccc; padding: 10px;">
        <table class="search_div1" style="width: 40%; border-collapse: collapse;">
            <tr>
                <td class="main_header_search" style="  padding-right: 10px;">작업자</td>
                <td style=" padding-right: 10px;">
                    <select id="people-save" class="form-select" style="font-size: 15px; font-weight: bold;">
                        <option value=""></option>
                        <option value="바룰">바룰</option>
                        <option value="김경분">김경분</option>
                        <option value="숀조이">숀조이</option>
                        <option value="술리스툐">술리스툐</option>
                        <option value="알리">알리</option>
                        <option value="사리">사리</option>
                        <option value="유광일">유광일</option>
                        <option value="유습">유습</option>
                        <option value="소전">소전</option>
                        <option value="파이살">파이살</option>
                    </select>
                </td>
                <td class="main_header_search" style=" padding-right: 10px;">조회기간</td>
                <td style=" padding-right: 10px;"><input type="date" id="date1" class="form-input"
                        style="font-size: 15px; font-weight: bold;"></td>
                <td style=" padding-right: 10px;"><input type="date" id="date2" class="form-input"
                        style="font-size: 15px; font-weight: bold;"></td>
                <td><button class="styled-button" onclick="peopleload()">조회</button></td>

            </tr>
        </table>
    </div>



    <div id="datatable-container">

        <table class="styled-table" id="datatable">
            <thead>
                <tr>
                    <th style="width: auto;">작업지시날짜</th>
                    <th style="width: auto;">고객사</th>
                    <th style="width: auto;">차종</th>
                    <th style="width: auto;">품번</th>
                    <th style="width: auto;">구분</th>
                    <th style="width: auto;">품명</th>
                    <th style="width: auto;">설비명</th>
                    <th style="width: auto;">타점수</th>
                    <th style="width: auto;">HW부번</th>
                    <th style="width: auto;">HW품명</th>
                    <th style="width: auto;">HW수량</th>
                    <th style="width: auto;">통전</th>
                    <th style="width: auto;">전류</th>
                    <th style="width: auto;">초기가압</th>
                    <th style="width: auto;">유지</th>
                    <th style="width: auto;">지시수량</th>
                    <th style="width: auto;">작업자</th>
                    <th style="width: auto;">시작시간</th>
                    <th style="width: auto;">종료시간</th>
                    <th style="width: auto;">작업수량</th>
                    <th style="width:auto;">상태</th>
                    <!-- <th style="width:80px;"></th> -->
                    <th style="width:80px;"><input type="button" value="Excel-Down" class="styled-button2"
                            onclick="exportToExcel()" style="float: left;"></th>
                </tr>
            </thead>
            <tbody id="Datatbody">
            </tbody>

        </table>

    </div>
    <!-- 등록창 -->
    <div id="popupOverlay" style="display: none;">

        <div id="popupContent">
            <div class="form-group">
                <table style="width:100%;" class="popuptable">
                    <tr>
                        <td colspan="2" class="popup_title">거래처 정보 추가</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">거래처코드</td>
                        <td><input type="text" id="accountcode-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">사업자등록번호</td>
                        <td><input type="text" id="number-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">거래처명</td>
                        <td><input type="text" id="accountname-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">대표자명</td>
                        <td><input type="text" id="representativename-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">전화번호</td>
                        <td><input type="text" id="phone-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">Fax</td>
                        <td><input type="text" id="fax-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">모바일</td>
                        <td><input type="text" id="mobile-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">E-mail</td>
                        <td><input type="text" id="email-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">주소</td>
                        <td><input type="text" id="adress-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">기타</td>
                        <td><input type="text" id="etc-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                </table>
            </div>
            <button id="popupCloseBtn-save-close">취소</button>
            <button id="popupCloseBtn-save" onclick="Datasave()">저장</button>
        </div>
    </div>

    <!-- 수정창 -->
    <div id="popupOverlay1" style="display: none;">
        <div id="popupContent" style="width:50%;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="popup_title">PW 작업 시작</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">고객사</td>
                        <td><input type="text" id="customer-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">차종</td>
                        <td><input type="text" id="cartype-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품번</td>
                        <td><input type="text" id="productnumber-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">구분</td>
                        <td><input type="text" id="sub-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품명</td>
                        <td><input type="text" id="productname-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">설비</td>
                        <td><input type="text" id="marchine-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">타점수</td>
                        <td><input type="text" id="touch-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W부번</td>
                        <td><input type="text" id="sanum-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W품명</td>
                        <td><input type="text" id="sapum-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W개수</td>
                        <td><input type="text" id="sacount-edit" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">통전</td>
                        <td><input type="text" id="a-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">전류</td>
                        <td><input type="text" id="b-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">초기가압</td>
                        <td><input type="text" id="c-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">유지</td>
                        <td><input type="text" id="d-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>


                </table>
            </div>
            <button id="popupCloseBtn-edit-close">취소</button>
            <button id="popupCloseBtn-edit" onclick="Dataedit()">생산시작</button>
            <input type="text" id="id-edit" style="visibility: hidden; width: 10px; float: right;" autocomplete="off">
        </div>
    </div>
    <!-- 수정창 -->
    <div id="popupOverlay4" style="display: none;">
        <div id="popupContent" style="width:50%;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="popup_title">PW 작업 종료</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">고객사</td>
                        <td><input type="text" id="customer-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">차종</td>
                        <td><input type="text" id="cartype-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품번</td>
                        <td><input type="text" id="productnumber-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">구분</td>
                        <td><input type="text" id="sub-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품명</td>
                        <td><input type="text" id="productname-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">설비</td>
                        <td><input type="text" id="marchine-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">타점수</td>
                        <td><input type="text" id="touch-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W부번</td>
                        <td><input type="text" id="sanum-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W품명</td>
                        <td><input type="text" id="sapum-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">H/W개수</td>
                        <td><input type="text" id="sacount-finish" class="data" autocomplete="off" readonly
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">통전</td>
                        <td><input type="text" id="a-finish" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">전류</td>
                        <td><input type="text" id="b-finish" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">초기가압</td>
                        <td><input type="text" id="c-finish" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">유지</td>
                        <td><input type="text" id="d-finish" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">작업수량</td>
                        <td><input type="text" id="finalcount-finish" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>



                </table>
            </div>
            <button id="popupCloseBtn-finish-close">취소</button>
            <button id="popupCloseBtn-finish" onclick="Datafinish()">생산종료</button>
            <input type="text" id="id-finish" style="visibility: hidden; width: 10px; float: right;" autocomplete="off">
        </div>
    </div>


    <!-- 삭제창 -->
    <div id="popupOverlay2" style="display: none;">
        <div id="popupContent">
            <div class="form-group">
                <table style="width:100%;">

                    <tr>
                        <td style="width: 100%;" class="popup_title">지시 정보를 삭제하시겠습니까?</td>
                    </tr>

                </table>
            </div>
            <button id="popupCloseBtn-delete-close">취소</button>
            <button id="popupCloseBtn-delete" onclick="Datadelte()">삭제</button>
            <input type="text" id="id-edit" style="visibility: hidden; width: 10px; float: right;" autocomplete="off">
        </div>
    </div>


    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://gmauto.xyz';
        }
        $(document).ready(function () {
            showLoading()
            document.getElementById('date1').valueAsDate = new Date();
            document.getElementById('date2').valueAsDate = new Date();
            $('#datatable').on('click', '.data-edit', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();

                var customer = td.eq(1).text();
                var cartype = td.eq(2).text();
                var productnumber = td.eq(3).text();
                var sub = td.eq(4).text();
                var productname = td.eq(5).text();
                var marchine = td.eq(6).text();
                var touch = td.eq(7).text();
                var sanum = td.eq(8).text();
                var sapum = td.eq(9).text();
                var sacount = td.eq(10).text();
                var a = td.eq(11).text();
                var b = td.eq(12).text();
                var c = td.eq(13).text();
                var d = td.eq(14).text();
                var id = td.eq(22).text();
                $('#customer-edit').val(customer)
                $('#cartype-edit').val(cartype)
                $('#productnumber-edit').val(productnumber)
                $('#sub-edit').val(sub)
                $('#productname-edit').val(productname)
                $('#marchine-edit').val(marchine)
                $('#touch-edit').val(touch)
                $('#sanum-edit').val(sanum)
                $('#sapum-edit').val(sapum)
                $('#sacount-edit').val(sacount)
                $('#a-edit').val(a)
                $('#b-edit').val(b)
                $('#c-edit').val(c)
                $('#d-edit').val(d)
                $('#count-edit').val('')
                $('#people-edit').val('')
                $('#id-edit').val(id)
                $('#popupOverlay1').fadeIn();
                $('#count-edit').focus()

            });
            $('#datatable').on('click', '.data-finish', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();

                var customer = td.eq(1).text();
                var cartype = td.eq(2).text();
                var productnumber = td.eq(3).text();
                var sub = td.eq(4).text();
                var productname = td.eq(5).text();
                var marchine = td.eq(6).text();
                var touch = td.eq(7).text();
                var sanum = td.eq(8).text();
                var sapum = td.eq(9).text();
                var sacount = td.eq(10).text();
                var a = td.eq(11).text();
                var b = td.eq(12).text();
                var c = td.eq(13).text();
                var d = td.eq(14).text();
                var id = td.eq(22).text();
                $('#customer-finish').val(customer)
                $('#cartype-finish').val(cartype)
                $('#productnumber-finish').val(productnumber)
                $('#sub-finish').val(sub)
                $('#productname-finish').val(productname)
                $('#marchine-finish').val(marchine)
                $('#touch-finish').val(touch)
                $('#sanum-finish').val(sanum)
                $('#sapum-finish').val(sapum)
                $('#sacount-finish').val(sacount)
                $('#a-finish').val(a)
                $('#b-finish').val(b)
                $('#c-finish').val(c)
                $('#d-finish').val(d)
                $('#count-finish').val('')
                $('#people-finish').val('')
                $('#id-finish').val(id)
                $('#popupOverlay4').fadeIn();
                $('#count-finish').focus()

            });
            $('#datatable').on('click', '.data-delete', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();


                var id = td.eq(12).text();
                $('#id-edit').val(id)
                $('#popupOverlay2').fadeIn();
            });


            $('#popupCloseBtn-save-close').click(function () {
                $('#popupOverlay').fadeOut();
            });
            $('#popupCloseBtn-edit-close').click(function () {
                $('#popupOverlay1').fadeOut();
            });
            $('#popupCloseBtn-delete-close').click(function () {
                $('#popupOverlay2').fadeOut();
            });
            $('#popupCloseBtn-finish-close').click(function () {
                $('#popupOverlay4').fadeOut();
            });


        });



        //오름차순 내림차순
        function sortTable(columnIndex) {
            var table, rows, switching, i, x, y, shouldSwitch, direction, switchcount = 0;
            table = document.getElementById("datatable");
            switching = true;
            direction = "asc"; // 기본 정렬 방향은 오름차순

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("tr");

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[columnIndex];
                    y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                    if (direction == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (direction == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && direction == "asc") {
                        direction = "desc";
                        switching = true;
                    }
                }
            }
        }

        //검색
        function search() {
            const searchInput = document.getElementById('myInput');
            const dataTable = document.getElementById('datatable');
            const tableRows = dataTable.getElementsByTagName('tr');
            const dataCountCell = document.getElementById('dataCount');

            searchInput.addEventListener('input', function () {
                const searchValue = this.value.toLowerCase();
                let count = 0;

                for (let i = 1; i < tableRows.length; i++) {
                    const rowData = tableRows[i].getElementsByTagName('td');
                    let found = false;

                    for (let j = 0; j < rowData.length; j++) {
                        const cellData = rowData[j].textContent.toLowerCase();

                        if (cellData.includes(searchValue)) {
                            found = true;
                            break;
                        }
                    }

                    if (found) {
                        tableRows[i].style.display = '';
                        count++;
                    } else {
                        tableRows[i].style.display = 'none';
                    }
                }

                dataCountCell.textContent = `검색 결과 개수: ${count - 1}`;
            });
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";

            // 로딩 완료 후 일정 시간 후 로딩 창 숨기기 (테스트용)
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }

        function New() {
            $('#accountcode-save').val('')
            $('#accountname-save').val('')
            $('#representativename-save').val('')
            $('#phone-save').val('')
            $('#adress-save').val('')
            $('#number-save').val('')
            $('#fax-save').val('')
            $('#mobile-save').val('')
            $('#email-save').val('')
            $('#etc-save').val('')



            $('#popupOverlay').fadeIn();
            $('#accountcode-save').focus()

        }

        function Datasave() {
            if (confirm("고객사 정보를 등록 하시겠습니까??") == true) {


                var accountcode = $('#accountcode-save').val();
                var accountname = $('#accountname-save').val();
                var representativename = $('#representativename-save').val();
                var phone = $('#phone-save').val();
                var adress = $('#adress-save').val();
                var number = $('#number-save').val();
                var fax = $('#fax-save').val();
                var mobile = $('#mobile-save').val();
                var email = $('#email-save').val();
                var etc = $('#etc-save').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountinfoinsertdata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "accountcode": accountcode,
                        "accountname": accountname,
                        "representativename": representativename,
                        "phone": phone,
                        "adress": adress,
                        "number": number,
                        "fax": fax,
                        "mobile": mobile,
                        "email": email,
                        "etc": etc




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function Dataedit() {
            if (confirm("생산을 시작 하시겠습니까??") == true) {
                var now = new Date();
                var hours = now.getHours().toString().padStart(2, '0');
                var minutes = now.getMinutes().toString().padStart(2, '0');
                var seconds = now.getSeconds().toString().padStart(2, '0');

                var formattedTime = hours + ':' + minutes + ':' + seconds;
                console.log(formattedTime)
                $.ajax({
                    type: 'POST',
                    url: server + '/api/startproduction',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-edit').val(),
                        starttime: formattedTime,
                        a: $('#a-edit').val(),
                        b: $('#b-edit').val(),
                        c: $('#c-edit').val(),
                        d: $('#d-edit').val(),
                        status: '생산중'





                    }),
                    success: function (result) {
                    }
                })

                $('#popupOverlay1').fadeOut();
                setTimeout(function () {
                    peopleload()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/logo.png" alt="Notification Icon"><span class="notification-message" style="color:navy;">생산시작 하세요</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }
        function Datafinish() {
            if (confirm("생산을 종료 하시겠습니까??") == true) {
                var now = new Date();
                var hours = now.getHours().toString().padStart(2, '0');
                var minutes = now.getMinutes().toString().padStart(2, '0');
                var seconds = now.getSeconds().toString().padStart(2, '0');

                var formattedTime = hours + ':' + minutes + ':' + seconds;
                $.ajax({
                    type: 'POST',
                    url: server + '/api/finishproduction',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-finish').val(),
                        finaltime: formattedTime,
                        finalcount: $('#finalcount-finish').val(),
                        status: '생산종료'





                    }),
                    success: function (result) {
                    }
                })

                $('#popupOverlay4').fadeOut();
                setTimeout(function () {
                    peopleload()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/logo.png" alt="Notification Icon"><span class="notification-message" style="color:navy;">생산종료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }


        function Datadelte() {
            $.ajax({
                type: 'POST',
                url: server + '/api/deletepwjisi',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    id: $('#id-edit').val(),

                }),
                success: function (result) {
                }

            })
            $('#popupOverlay2').fadeOut();
            setTimeout(function () {
                load()
            }, 50); // 3초 후에 알림을 사라지게 설정
            var notification = $('<div class="notification"><img src="/img/logo.png" alt="Notification Icon"><span class="notification-message" style="color:navy;">삭제 완료</span></div>');
            $('body').append(notification);
            setTimeout(function () {
                notification.fadeOut(function () {
                    $(this).remove();
                });
            }, 3000);
        }

        function peopleload() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/pwjisiwherepeople',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    people: $('#people-save').val(),
                    start: $('#date1').val(),
                    finish: $('#date2').val()
                }),
                success: function (result) {
                    var tableBody = $('#Datatbody');
                    tableBody.empty();

                    if (result.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        for (var i = 0; i < result.length; i++) {
                            var statusColor = '';
                            var statusTextColor = '';
                            var editLink = '';

                            if (result[i].status === '대기중') {
                                statusColor = 'lime';
                                statusTextColor = 'black';
                                editLink = '<td><a class="data-edit" style="cursor:pointer; color:blue;">선택</a></td>';
                            } else if (result[i].status === '생산중') {
                                statusColor = 'blue';
                                statusTextColor = 'white';
                                editLink = '<td><a class="data-finish" style="cursor:pointer; color:blue;">종료</a></td>';
                            } else if (result[i].status === '생산종료') {
                                statusColor = 'red';
                                statusTextColor = 'white';
                                editLink = '<td><a class="data-edit" style="cursor:pointer; color:blue;"></a></td>';
                            }
                            tableBody.append(
                                '<tr>' +
                                '<td>' + result[i].plandate + '</td>' +
                                '<td>' + result[i].customer + '</td>' +
                                '<td>' + result[i].cartype + '</td>' +
                                '<td>' + result[i].productnumber + '</td>' +
                                '<td>' + result[i].sub + '</td>' +
                                '<td>' + result[i].productname + '</td>' +
                                '<td>' + result[i].marchine + '</td>' +
                                '<td>' + result[i].touch + '</td>' +
                                '<td>' + result[i].sanum + '</td>' +
                                '<td>' + result[i].sapum + '</td>' +
                                '<td>' + result[i].sacount + '</td>' +
                                '<td>' + result[i].a + '</td>' +
                                '<td>' + result[i].b + '</td>' +
                                '<td>' + result[i].c + '</td>' +
                                '<td>' + result[i].d + '</td>' +
                                '<td>' + result[i].count + '</td>' +
                                '<td>' + result[i].people + '</td>' +
                                '<td>' + result[i].starttime + '</td>' +
                                '<td>' + result[i].finaltime + '</td>' +
                                '<td>' + result[i].finalcount + '</td>' +
                                '<td style="background-color: ' + statusColor + '; color: ' + statusTextColor + ';">' + result[i].status + '</td>' +
                                editLink +
                                '<td id="data-id">' + result[i].id + '</td>' +
                                '</tr>'
                            );
                            $("td#data-id").hide();
                        }
                    }

                    var notification = $('<div class="notification"><img src="/img/logo.png" alt="Notification Icon"><span style="color:navy;" class="notification-message">조회 완료</span></div>');
                    $('body').append(notification);
                    setTimeout(function () {
                        notification.fadeOut(function () {
                            $(this).remove();
                        });
                    }, 3000);
                }
            });
        }


    </script>


    <!-- 다음 스크립트를 사용하여 특정 열의 데이터를 엑셀 파일로 저장합니다. -->
    <script>
        function exportToExcel() {
            // 테이블 데이터를 JavaScript 객체로 추출합니다.
            var table = document.getElementById("datatable");
            var rows = table.getElementsByTagName("tr");
            var data = [];

            // 엑셀에 저장할 열의 인덱스를 지정합니다.
            var columnIndices = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]; // 1번부터 9번 열까지

            // 첫 번째 행 (테이블 헤더) 추출
            var headerRow = rows[0];
            var headerCols = headerRow.getElementsByTagName("th");
            var headerData = [];

            // 1번부터 9번 열까지의 헤더를 추가합니다.
            for (var i = 0; i < columnIndices.length; i++) {
                headerData.push(headerCols[columnIndices[i]].textContent);
            }

            data.push(headerData);

            // 나머지 행 데이터 추출
            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var cols = row.getElementsByTagName("td");
                var rowData = [];

                // 1번부터 9번 열까지의 데이터만 추출합니다.
                for (var j = 0; j < columnIndices.length; j++) {
                    rowData.push(cols[columnIndices[j]].textContent);
                }

                data.push(rowData);
            }

            // 엑셀 파일 생성
            var ws = XLSX.utils.aoa_to_sheet(data);
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, "테이블 데이터");

            // 엑셀 파일을 저장하고 다운로드합니다.
            XLSX.writeFile(wb, "거래처리스트.xlsx");
        }
    </script>


</body>

</html>