<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PW작업</title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/mesmain.css">
    <link rel="stylesheet" href="../css/mesiteminformation.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<style>
    #datatable-container {
        max-height: 1000px;
        /* Adjust the maximum height as needed */
        overflow-y: auto;
        /* Add vertical scrollbars if the content exceeds the container height */
    }

    #datatable {
        width: 100%;
        /* Other table styles */
    }

    .popup_title {
        color: red;
    }

    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }

    select {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }

    /* machine 열 배경색 스타일 */
    .machine-row {
        background-color: rgb(230, 226, 226);
        /* 원하는 배경색으로 변경 */
    }

    fieldset {
        display: flex;
        align-items: center;
    }

    fieldset b {
        margin-right: 10px;
        font-size: 20px;
    }

    fieldset select {
        margin-right: 10px;
        width: 300px;
        font-size: 20px;
    }

    fieldset button {
        height: 100%;
    }

    #tableWrapper {
        max-height: 800px;
        overflow-y: auto;
    }

    .styled-table1 {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .styled-table1 thead th,
    .styled-table1 tbody td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .styled-table1 tbody td button {
        display: block;
        margin: 0 auto;
        font-weight: bold;
    }

    .styled-table1 tbody tr:hover {
        background-color: rgb(224, 224, 224);
        cursor: pointer;
        /* 호버 효과에 원하는 배경색을 지정하세요 */
    }
</style>

<body>
    <div class="main_header">
        <i class="fas fa-wrench"></i>&nbsp; P.W 작업진행현황
    </div>

    <!-- <div class="menu-title" style="width:150%;">
        <i class="fas fa-address-book"></i>P.W 기초정보
    </div> -->
    <div id="loadingOverlay">
        <img src="/img/logo.png" alt="로딩 이미지" class="loadingImage">

    </div>

    <div id="overlay"></div>

    <fieldset style="height: 40px; width:140%">

        <button id="newRegistrationBtn" onclick="newadd()" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i> 작업등록
        </button>

    </fieldset>
    <div id="datatable-container" style="width:100%; height: 90%;">
        <table class="styled-table" id="datatable">
            <thead id="tableHead">
                <tr>
                    <th style="width: auto; text-align:center;">작업날짜</th>
                    <th style="width: auto; text-align:center;">고객사</th>
                    <th style="width: auto; text-align:center;">차종</th>
                    <th style="width: auto; text-align:center;">품번</th>
                    <th style="width: auto; text-align:center;">품명</th>
                    <th style="width: auto; text-align:center;">호기명</th>
                    <th style="width: auto; text-align:center;">용접타점수</th>
                    <th style="width: auto; text-align:center;">사양부번</th>
                    <th style="width: auto; text-align:center;">사양품명</th>
                    <th style="width: auto; text-align:center;">사양개수</th>
                    <th style="width: auto; text-align:center;">통전</th>
                    <th style="width: auto; text-align:center;">전류</th>
                    <th style="width: auto; text-align:center;">초기가압</th>
                    <th style="width: auto; text-align:center;">유지</th>
                    <th style="width: auto; text-align:center;">생산수량</th>
                    <th style="width: auto; text-align:center;">작업자</th>
                    <th style="width: auto; text-align:center;">상태</th>
                </tr>
            </thead>

            <tbody id="Datatbody">
            </tbody>
        </table>
    </div>

    <div id="editModal" style="height: 1000px; width: 70%;">
        <div class="mainheader">
            <h1>PW 작업정보</h1>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>


        <div id="editForm">
            <fieldset style="height: 40px; width:99%">
                <b>차종</b>
                <select id="cartype-select" style="width:200px;">
                    <option></option>
                </select>
                <b>품번</b>
                <select id="productnumber-select">
                    <option></option>
                </select>
                <b>작업자</b>
                <select id="productnumber-select">
                    <option value=""></option>
                    <option value="바룰">바룰</option>
                    <option value="김경분">김경분</option>
                    <option value="숀조이">숀조이</option>
                    <option value="술리스툐">술리스툐</option>
                    <option value="알리">알리</option>
                    <option value="사리">사리</option>
                    <option value="유광일">유광일</option>
                    <option value="유습">유습</option>
                    <option value="소전">소전</option>
                    <option value="파이살">파이살</option>
                </select>
                <button id="newRegistrationBtn" onclick="searching()" class="btn btn-primary">
                    <i class="fas fa-search"></i> 조회
                </button>
                <button id="newRegistrationBtn" onclick="savedata()" style="margin-left: 20px;;"
                    class="btn btn-primary">
                    <i class="fas fa-save"></i> 저장
                </button>
            </fieldset>
            <div id="tableWrapper" style="max-height: 800px; overflow-y: auto;">
                <table class="styled-table1" id="datatable" style="max-height: 800px; overflow-y: auto;">
                    <thead id="tableHead">
                        <tr>
                            <th style="text-align:center;" colspan="3">제품정보</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; width: 100px;">차종</th>
                            <td style="text-align: center; width:80%;" id="cartype"></td>
                            <td rowspan="6" colspan="3" style="text-align: center;"> <img alt="" class="loadingImage"
                                    style="width:200px; height: 200px;" id="img"></td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">고객사</th>
                            <td style="text-align: center;" id="customer"></td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">품번</th>
                            <td style="text-align: center;" id="productnumber"></td>
                        </tr>

                        <tr>
                            <th style="text-align: center;">품명</th>
                            <td style="text-align: center;" id="productname"></td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">호기명</th>
                            <td style="text-align: center;" id="marchine"></td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">용접타점수</th>
                            <td style="text-align: center;" id="touch"></td>
                        </tr>
                    </thead>


                </table>
            </div>
            <div id="tableWrapper" style="max-height: 800px; overflow-y: auto;">
                <table class="styled-table1" id="datatable" style="max-height: 800px; overflow-y: auto;">
                    <thead id="tableHead">
                        <tr>
                            <th style="text-align:center;" colspan="6">사양정보</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; width: 100px;">사양부번</th>
                            <td style="text-align: center; width:20%;" id="cartype"></td>
                            <th style="text-align: center; width: 100px;">사양품명</th>
                            <td style="text-align: center; width:20%;" id="productnumber"></td>
                            <th style="text-align: center; width: 100px;">사양개수</th>
                            <td style="text-align: center; width:20%;" id="productname"></td>

                        </tr>
                        <tr>
                            <th style="text-align: center; width: 100px;">재질</th>
                            <td style="text-align: center; width:20%;" id="cartype"></td>
                            <th style="text-align: center; width: 100px;">두께</th>
                            <td style="text-align: center; width:20%;" id="productnumber"></td>
                        </tr>


                    </thead>


                </table>
            </div>
            <div id="tableWrapper" style="max-height: 800px; overflow-y: auto;">
                <table class="styled-table1" id="datatable" style="max-height: 800px; overflow-y: auto;">
                    <thead id="tableHead">
                        <tr>
                            <th style="text-align:center;" colspan="6">설비정보</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; width: 100px;">통전</th>
                            <td style="text-align: center; width:20%;" id="cartype"></td>
                            <th style="text-align: center; width: 100px;">전류</th>
                            <td style="text-align: center; width:20%;" id="productnumber"></td>
                            <th style="text-align: center;">초기가압</th>
                            <td style="text-align: center; width:20%;" id="productname"></td>

                        </tr>
                        <tr>
                            <th style="text-align: center; width: 100px;">유지</th>
                            <td style="text-align: center; width:20%;" id="productnumber"></td>
                            <th style="text-align: center; width: 100px;">에어압력</th>
                            <td style="text-align: center; width:20%;" id="cartype"></td>
                            <th style="text-align: center; width: 100px;">냉각수온도</th>
                            <td style="text-align: center; width:20%;" id="productnumber"></td>

                        </tr>


                    </thead>


                </table>
            </div>
        </div>
    </div>





    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://gmauto.xyz';
        }
        $(document).ready(function () {
            showLoading()
            load()

            // 첫 번째 셀렉트 박스 데이터 로딩
            const selectElement = document.getElementById("cartype-select");
            const selectElement1 = document.getElementById("productnumber-select");
            if (selectElement) {
                $.ajax({
                    type: 'POST',
                    url: server + '/api/selectcartype',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        for (let i = 0; i < result.length; i++) {
                            const option = document.createElement("option");
                            option.text = result[i].cartype;
                            option.value = result[i].cartype;
                            selectElement.add(option);
                        }
                    },
                });

                // 두 번째 셀렉트 박스 값 변경 시 데이터 로딩
                selectElement.addEventListener('change', function () {
                    selectElement1.innerHTML = '';

                    const selectedValue = $(this).val(); // 선택된 값 가져오기
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/pwmainselect',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            cartype: selectedValue
                        }),
                        success: function (result) {
                            for (let i = 0; i < result.length; i++) {
                                const option = document.createElement("option");
                                option.text = result[i].productnumber;
                                option.value = result[i].productnumber;
                                selectElement1.add(option);
                            }

                            // 이미지 로드
                            $('#img').attr('src', '../img/' + $('#productnumber-select').val() + '.jpg');
                        },
                    });


                });

                selectElement1.addEventListener('change', function () {
                    // 새로운 값에 해당하는 이미지 로드
                    const selectedValue = $(this).val();
                    $('#img').attr('src', '../img/' + selectedValue + '.jpg');
                    $('#productnumber-select').text('')
                });

            }


        });



        $('#searchInput').keypress(function (e) {
            // Check if the pressed key is "Enter" (key code 13)
            if (e.which === 13) {
                // Show loading spinner while searching
                Swal.fire({
                    icon: 'info',
                    title: '검색중입니다...',
                    allowOutsideClick: false,
                    showCancelButton: false,
                    showConfirmButton: false,
                    timerProgressBar: true,
                    onBeforeOpen: () => {
                        Swal.showLoading();
                    }
                });

                // Reset previous search results
                $('#datatable tbody tr').show();

                var searchValue = $(this).val().toLowerCase();
                var matchingRowCount = 0;

                $('#datatable tbody tr').each(function () {
                    var rowData = $(this).text().toLowerCase();
                    var isMatch = rowData.includes(searchValue);
                    $(this).toggle(isMatch);

                    if (isMatch) {
                        matchingRowCount++;
                    }
                });

                // Display the count of matching rows
                // var resultMessage = 'Data: ' + matchingRowCount;
                // $('#searchResultCount').text(resultMessage);

                // Show message if no matching rows


                setTimeout(function () {
                    Swal.close();
                }, 1700); // Simulated delay of 1.3 seconds
            }
        });




        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";

            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }

        function newadd() {
            $('#overlay').fadeIn()
            $('#editModal').fadeIn()
        }
        function closeModal() {
            $('#overlay').fadeOut()
            $('#editModal').fadeOut()
        }
        function openmodal() {
            $('#overlay').fadeIn()
            $('#editModal1').fadeIn()
        }
        function close1Modal() {
            $('#overlay').fadeOut()
            $('#editModal1').fadeOut()
        }



        function deletedata() {
            var selectedIds = [];
            $('input[name="chk"]:checked').each(function () {
                selectedIds.push($(this).closest('tr').find('td:eq(23)').text()); // ID는 두 번째 열에 있다고 가정합니다.
            });
            Swal.fire({
                icon: 'warning',
                title: '정말로 삭제하시겠습니까?',
                text: '이 작업은 되돌릴 수 없습니다!',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/deletepwmain',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            ids: selectedIds // 선택된 ID 배열을 전송합니다.
                        }),
                        success: function (result) {
                            load();

                            Swal.fire({
                                icon: 'success',
                                title: '삭제완료',
                                text: '데이터 정보가 삭제되었습니다.',
                            }).then((result) => {

                            });
                        }
                    });


                }
            });
        }


        function savedata() {
            if ($('#newRegistrationBtn1').text() === '저장') {
                Swal.fire({
                    icon: 'info',
                    title: '저장',
                    text: 'P.W기초정보를 등록하시겠습니까?',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                    cancelButtonText: '취소',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Array to store promises for each AJAX request

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/insertpwmain',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "customer": $('#customer-save').val(),
                                "cartype": $('#cartype-save').val(),
                                "productnumber": $('#productnumber-save').val(),
                                "sub": $('#sub-save').val(),
                                "productname": $('#productname-save').val(),
                                "marchine": $('#marchine-save').val(),
                                "touch": $('#touch-save').val(),
                                "sanum": $('#sanum-save').val(),
                                "sapum": $('#sapum-save').val(),
                                "sacount": $('#sacount-save').val(),
                                "a": $('#a-save').val(),
                                "b": $('#b-save').val(),
                                "c": $('#c-save').val(),
                                "d": $('#f-save').val(),
                                "e": $('#e-save').val(),
                                "f": $('#f-save').val(),
                                "g": $('#g-save').val(),
                                "h": $('#h-save').val(),
                                "i": $('#i-save').val(),
                                "j": $('#j-save').val(),
                                "spec": $('#spec-save').val(),
                                "t": $('#t-save').val()
                            })
                        });
                        load();
                        $('#overlay').fadeOut()
                        $('#editModal').fadeOut()
                        Swal.fire({
                            icon: 'success',
                            title: '저장완료',
                            text: '데이터 정보가 저장 되었습니다.',
                        }).then((result) => {
                            if (result.isConfirmed || result.dismiss === Swal.DismissReason.esc || result.dismiss === Swal.DismissReason.overlay) {

                            }
                        });

                    }
                });
            } else {
                Swal.fire({
                    icon: 'info',
                    title: '수정',
                    text: 'P.W기초정보를 수정하시겠습니까?',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                    cancelButtonText: '취소',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Array to store promises for each AJAX request
                        var ajaxPromises = [];

                        checkedIds.forEach(function (currentId) {
                            // Create a promise for each AJAX request
                            var ajaxPromise = $.ajax({
                                type: 'POST',
                                url: server + '/api/updatepwmain',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "id": $('#id-save').val(),
                                    "customer": $('#customer-save').val(),
                                    "cartype": $('#cartype-save').val(),
                                    "productnumber": $('#productnumber-save').val(),
                                    "sub": $('#sub-save').val(),
                                    "productname": $('#productname-save').val(),
                                    "marchine": $('#marchine-save').val(),
                                    "touch": $('#touch-save').val(),
                                    "sanum": $('#sanum-save').val(),
                                    "sapum": $('#sapum-save').val(),
                                    "sacount": $('#sacount-save').val(),
                                    "a": $('#a-save').val(),
                                    "b": $('#b-save').val(),
                                    "c": $('#c-save').val(),
                                    "d": $('#f-save').val(),
                                    "e": $('#e-save').val(),
                                    "f": $('#f-save').val(),
                                    "g": $('#g-save').val(),
                                    "h": $('#h-save').val(),
                                    "i": $('#i-save').val(),
                                    "j": $('#j-save').val(),
                                    "spec": $('#spec-save').val(),
                                    "t": $('#t-save').val()
                                })
                            });
                            customer, cartype, productnumber, sub, productname, marchine, touch, sanum, sapum, sacount, a, b, c, d, e, f, g, h, i, j, spec, t
                        });
                        selectedIds = [];
                        Swal.fire({
                            icon: 'success',
                            title: '수정완료',
                            text: '데이터 정보가 수정 되었습니다.',
                        }).then((result) => {
                            if (result.isConfirmed || result.dismiss === Swal.DismissReason.esc || result.dismiss === Swal.DismissReason.overlay) {
                                load();
                                $('#overlay').fadeOut()
                                $('#editModal').fadeOut()
                            }
                        });

                    }
                });
            }

        }
        function searching() {
            Swal.fire({
                icon: 'info',
                title: '검색중입니다...',
                allowOutsideClick: false,
                showCancelButton: false,
                showConfirmButton: false,
                timerProgressBar: true,
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });

            // $('#Datatbody1').empty();

            // var cartypeSelect = document.getElementById('cartype-select');
            // var selectedValue = cartypeSelect.value;

            // $.ajax({
            //     type: 'POST',
            //     url: server + '/api/pwmainselect',
            //     dataType: 'json',
            //     contentType: 'application/json',
            //     data: JSON.stringify({
            //         cartype: selectedValue
            //     }),
            //     success: function (result) {
            //         console.log(result);
            //         var tableBody = $('#Datatbody1');
            //         tableBody.empty();
            //         if (result.length === 0) {
            //             // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
            //             tableFoot.text('총 데이터 개수: 0');
            //         } else {
            //             result.forEach(function (rowData) {
            //                 var tableRow = $('<tr>');
            //                 tableRow.append('<td>' + rowData.customer + '</td>');
            //                 tableRow.append('<td>' + rowData.cartype + '</td>');
            //                 tableRow.append('<td>' + rowData.productnumber + '</td>');
            //                 tableRow.append('<td>' + rowData.productname + '</td>');
            //                 tableRow.append('<td>' + rowData.marchine + '</td>');
            //                 tableRow.append('<td>' + rowData.touch + '</td>');
            //                 tableRow.append('<td>' + rowData.sanum + '</td>');
            //                 tableRow.append('<td>' + rowData.sapum + '</td>');
            //                 tableRow.append('<td>' + rowData.sacount + '</td>');
            //                 tableRow.append('<td>' + rowData.a + '</td>');
            //                 tableRow.append('<td>' + rowData.b + '</td>');
            //                 tableRow.append('<td>' + rowData.c + '</td>');
            //                 tableRow.append('<td>' + rowData.d + '</td>');
            //                 var selectButton = $('<button>선택</button>');
            //                 selectButton.click(function () {
            //                     console.log(rowData); // 해당 행의 데이터를 콘솔에 출력
            //                 });
            //                 var buttonCell = $('<td>').append(selectButton);
            //                 tableRow.append(buttonCell);
            //                 tableBody.append(tableRow);
            //             });
            //         }
            //     }
            // });


            setTimeout(function () {
                Swal.close();
            }, 1000); // Simulated delay of 1.3 seconds
        }
        function load() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/selectpwplan',
                dataType: 'json',
                success: function (data) {

                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        for (var i = 0; i < data.length; i++) {

                            $('#datatable').append(
                                '<tr>' +
                                '<td>' + data[i].plandate + '</td>' +
                                '<td>' + data[i].customer + '</td>' +
                                '<td>' + data[i].cartype + '</td>' +
                                '<td>' + data[i].productnumber + '</td>' +
                                '<td>' + data[i].productname + '</td>' +
                                '<td>' + data[i].marchine + '</td>' +
                                '<td>' + data[i].touch + '</td>' +
                                '<td>' + data[i].sanum + '</td>' +
                                '<td>' + data[i].sapum + '</td>' +
                                '<td>' + data[i].sacount + '</td>' +
                                '<td>' + data[i].a + '</td>' +
                                '<td>' + data[i].b + '</td>' +
                                '<td>' + data[i].c + '</td>' +
                                '<td>' + data[i].d + '</td>' +
                                '<td>' + data[i].count + '</td>' +
                                '<td>' + data[i].people + '</td>' +
                                '<td>' + data[i].status + '</td>' +
                                '<td id="data-id">' + data[i].id + '</td>' +
                                '</tr>'
                            );
                            $('td#data-id').hide()


                        }
                    }

                    $('#datatable tbody').on('dblclick', 'tr', function () {
                        var rowData = $(this).find('td');
                        var rowDataArray = [];
                        rowData.each(function () {
                            rowDataArray.push($(this).text());
                        });
                        $('#overlay').fadeIn()
                        $('#editModal').fadeIn()
                        $('#customer-save').val(rowDataArray[1])
                        $('#cartype-save').val(rowDataArray[2])
                        $('#productnumber-save').val(rowDataArray[3])
                        $('#sub-save').val(rowDataArray[4])
                        $('#productname-save').val(rowDataArray[5])
                        $('#marchine-save').val(rowDataArray[6])
                        $('#touch-save').val(rowDataArray[7])
                        $('#sanum-save').val(rowDataArray[8])
                        $('#sapum-save').val(rowDataArray[9])
                        $('#sacount-save').val(rowDataArray[10])
                        $('#a-save').val(rowDataArray[11])
                        $('#b-save').val(rowDataArray[12])
                        $('#c-save').val(rowDataArray[13])
                        $('#d-save').val(rowDataArray[14])
                        $('#e-save').val(rowDataArray[15])
                        $('#f-save').val(rowDataArray[16])
                        $('#g-save').val(rowDataArray[17])
                        $('#h-save').val(rowDataArray[18])
                        $('#i-save').val(rowDataArray[19])
                        $('#j-save').val(rowDataArray[20])
                        $('#spec-save').val(rowDataArray[21])
                        $('#t-save').val(rowDataArray[22])
                        $('#id-save').val(rowDataArray[23])
                        $('#newRegistrationBtn1').text('수정')
                    });
                }
            });
        }


    </script>



</body>

</html>