<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../css/pwworkdailyreport.css">
    <link rel="stylesheet" href="../css/spiner.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>PW 작업일보 & 성적서</title>
</head>

<body>

    <div class="header-container">
        <div class="header-title">
            <h2><i class="fas fa-wrench"></i> &nbsp;PW 작업일보 & 성적서 조회</h2>
        </div>
        <div class="header-subtitle">
            <h4>P.W > PW 작업일보 & 성적서</h4>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <div id="overlay1" class="overlay"></div>
    <fieldset>
        <legend>검색조건</legend>
        <i class="fas fa-search"></i>
        <input type="date" style="width:10%;" id="datetimepicker1">
        <input type="date" style="width:10%;" id="datetimepicker2">
        <button class="close-button" onclick="load()">조회</button>
        <button class="save-button" onclick="exportToExcel()">엑셀내보내기</button>
    </fieldset>
    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <div id="maintable" class="table-wrapper">
        <table id="datatable">
            <thead>
                <th>생산일자</th>
                <th>고객사</th>
                <th>차종</th>
                <th>품번</th>
                <th>품명</th>
                <th>호기명</th>
                <th>용접타점수</th>
                <th>사양품번</th>
                <th>사양품명</th>
                <th>사양개수</th>
                <th>재질</th>
                <th>두께</th>
                <th>초물</th>
                <th>중물</th>
                <th>종물</th>
                <th>생산수량</th>
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
            </thead>

            <tbody id="iteminfobody">
            </tbody>
            <tfoot id="iteminfofoot">
            </tfoot>
        </table>
    </div>






    <script>
        var server = '';
        var gridApi;
        if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://gmauto.xyz';
        }

        $(document).ready(function () {

            var today = new Date();

            var year = today.getFullYear();
            var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
            var day = String(today.getDate()).padStart(2, '0'); // 일
            var formattedDate = year + '-' + month + '-' + day;

            document.getElementById('datetimepicker1').value = formattedDate;
            document.getElementById('datetimepicker2').value = formattedDate;
            load()
            // checkData()
            $('#searchInput').on('keyup', function (event) {
                if (event.key === 'Enter') { // 엔터 키가 눌렸는지 확인
                    var spinnerOverlay = document.querySelector('.spinner-overlay');
                    spinnerOverlay.style.display = 'flex'; // Spiner 표시
                    searchTable();
                    setTimeout(function () {
                        spinnerOverlay.style.display = 'none'; // 1초 후에 Spiner 숨김
                    }, 800);
                }
            });

            const selectElement = document.getElementById("cartype-select");
            const selectElement1 = document.getElementById("productnumber-select");
            const selectElement2 = document.getElementById("sa-select");
            $.ajax({
                type: 'POST',
                url: server + '/api/selectcartype',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    for (let i = 0; i < result.length; i++) {
                        const option = document.createElement("option");
                        option.text = result[i].cartype;
                        option.value = result[i].cartype;
                        selectElement.add(option);
                    }
                },
            });

            selectElement.addEventListener('change', function () {
                selectElement1.innerHTML = '';
                selectElement2.innerHTML = ''; // 새로운 값을 선택할 때마다 sa-select를 초기화

                const selectedValue = $(this).val(); // 선택된 값 가져오기
                $.ajax({
                    type: 'POST',
                    url: server + '/api/pwmainselect',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        cartype: selectedValue
                    }),
                    success: function (result) {
                        const defaultOption = document.createElement("option");
                        defaultOption.text = "";
                        defaultOption.value = "";
                        defaultOption.selected = true; // 기본 선택 옵션으로 설정
                        selectElement1.appendChild(defaultOption);

                        for (let i = 0; i < result.length; i++) {
                            const option = document.createElement("option");
                            option.text = result[i].productnumber;
                            option.value = result[i].productnumber;
                            selectElement1.add(option);
                        }

                        // 첫 번째 값을 선택했을 때 바로 이미지 로드
                    },
                });
            });

            selectElement1.addEventListener('change', function () {
                selectElement2.innerHTML = ''; // 선택한 productnumber에 대한 sa-select를 초기화

                const selectedValue = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: server + '/api/pwmainselectsapum',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        productnumber: selectedValue
                    }),
                    success: function (result) {
                        for (let i = 0; i < result.length; i++) {
                            const option = document.createElement("option");
                            option.text = result[i].sapum;
                            option.value = result[i].sapum;
                            selectElement2.add(option);
                        }
                        console.error();
                        for (let i = 0; i < result.length; i++) {
                            const option = document.createElement(option)
                        }
                    },
                });
            });
        });

        function load() {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spiner 표시

            $.ajax({
                url: server + '/api/selectpwproduct',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    start: $('#datetimepicker1').val(),
                    finish: $('#datetimepicker2').val()
                }),

                success: function (result) {
                    $('#iteminfobody').empty();

                    if (result.length === 0) { // 데이터가 없을 때
                        $('#iteminfobody').append(
                            '<tr>' +
                            '<td colspan="21" style="text-align:center;">조회기간 작업정보가 없습니다.</td>' +
                            '</tr>'
                        );
                    } else {
                        for (var i = 0; i < result.length; i++) {
                            var data = result[i]; // Fixed: Assign result[i] to a variable

                            $('#iteminfobody').append(
                                '<tr>' +
                                '<td style="text-align:center;">' + result[i].productdate + '</td>' +
                                '<td style="text-align:center;">' + result[i].customer + '</td>' +
                                '<td style="text-align:center;">' + result[i].cartype + '</td>' +
                                '<td style="text-align:center;">' + result[i].productnumber + '</td>' +
                                '<td style="text-align:center;">' + result[i].productname + '</td>' +
                                '<td style="text-align:center;">' + result[i].marchine + '</td>' +
                                '<td style="text-align:center;">' + result[i].touch + '</td>' +
                                '<td style="text-align:center;">' + result[i].sanum + '</td>' +
                                '<td style="text-align:center;">' + result[i].sapum + '</td>' +
                                '<td style="text-align:center;">' + result[i].sacount + '</td>' +
                                '<td style="text-align:center;">' + result[i].spec + '</td>' +
                                '<td style="text-align:center;">' + (result[i].t || '') + '</td>' +
                                '<td style="text-align:center;">' + (result[i].people || '') + '</td>' +
                                '<td style="text-align:center;">' + (result[i].people1 || '') + '</td>' +
                                '<td style="text-align:center;">' + (result[i].people2 || '') + '</td>' +
                                '<td style="text-align:center;">' + (result[i].count || '') + '</td>' +
                                '<td id="dataid">' + result[i].dataid + '</td>' +
                                '<td id="data-id">' + result[i].id + '</td>' +
                                '<td><button class="btninfo" onclick="showinfo()">상세정보</button></td>' +
                                '<td><button class="btninfo1" onclick="openInvoice(this)">성적서</button></td>' +
                                '</tr>'
                            );
                        }
                    }

                    $('td#data-id').hide();
                    $('td#dataid').hide();


                    setTimeout(function () {
                        spinnerOverlay.style.display = 'none'; // 1초 후에 Spiner 숨김
                    }, 1000); // Changed from 1100 to 1000 milliseconds
                }
            });
        }



        function openInvoice(button) {
            var row = button.closest('tr'); // Find the parent row
            var rowData = $(row).find('td').map(function () {
                return $(this).text();
            }).get();
            var newWindow = window.open('/html/paper.html', '_blank', 'width=1200,height=1000');

            newWindow.onload = function () {
                // 발주서 창이 로딩되면 해당 데이터를 전달
                newWindow.document.getElementById("productdate").innerText = rowData[0] || '';
                newWindow.document.getElementById("customer").innerText = rowData[1] || '';
                newWindow.document.getElementById("cartype").innerText = rowData[2] || '';
                newWindow.document.getElementById("productnumber").innerText = rowData[3] || '';
                newWindow.document.getElementById("productname").innerText = rowData[4] || '';
                newWindow.document.getElementById("sanum").innerText = rowData[6] || '';
                newWindow.document.getElementById("sapum").innerText = rowData[7] || '';
                newWindow.document.getElementById("sacount").innerText = rowData[8] || '';
                newWindow.document.getElementById("spec").innerText = rowData[10] || '';
                newWindow.document.getElementById("t").innerText = rowData[9] || '';
                newWindow.document.getElementById("t").innerText = rowData[9] || '';
                newWindow.document.getElementById('img').src = '../img/' + rowData[3] + '.jpg'; // Fixing image source setting
                newWindow.document.getElementById('img1').src = '../hw/' + rowData[7] + '.PNG'; // Fixing image source setting

                // 예시로 테이블에 데이터 추가 (이 부분은 실제 데이터에 맞게 수정)
                var table = newWindow.document.getElementById("purtbody");

                // Clear existing data in '#purtbody' using jQuery
                $(table).empty();

                // Fetch additional data using AJAX
                $.ajax({
                    type: 'POST',
                    url: server + '/api/selectpwproductpapaer',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "dataid": rowData[16]
                    }),
                    success: function (data) {
                        // rowData 대신에 서버로부터 받아온 data 객체를 사용해야 함
                        newWindow.document.getElementById("a").innerText = data[0].a || '';
                        newWindow.document.getElementById("b").innerText = data[0].b || '';
                        newWindow.document.getElementById("c").innerText = data[0].c || '';
                        newWindow.document.getElementById("d").innerText = data[0].d || '';
                        newWindow.document.getElementById("e").innerText = data[0].e || '';
                        newWindow.document.getElementById("f").innerText = data[0].f || '';

                        newWindow.document.getElementById("a1").innerText = data[0].a1 || '';
                        newWindow.document.getElementById("b1").innerText = data[0].b1 || '';
                        newWindow.document.getElementById("c1").innerText = data[0].c1 || '';
                        newWindow.document.getElementById("d1").innerText = data[0].d1 || '';
                        newWindow.document.getElementById("e1").innerText = data[0].e1 || '';
                        newWindow.document.getElementById("f1").innerText = data[0].f1 || '';

                        newWindow.document.getElementById("a2").innerText = data[0].a2 || '';
                        newWindow.document.getElementById("b2").innerText = data[0].b2 || '';
                        newWindow.document.getElementById("c2").innerText = data[0].c2 || '';
                        newWindow.document.getElementById("d2").innerText = data[0].d2 || '';
                        newWindow.document.getElementById("e2").innerText = data[0].e2 || '';
                        newWindow.document.getElementById("f2").innerText = data[0].f2 || '';


                        newWindow.document.getElementById("data1").innerText = data[0].data1 || '';
                        newWindow.document.getElementById("data2").innerText = data[0].data2 || '';
                        newWindow.document.getElementById("data3").innerText = data[0].data3 || '';
                        newWindow.document.getElementById("data4").innerText = data[0].data4 || '';
                        newWindow.document.getElementById("data5").innerText = data[0].data5 || '';

                        newWindow.document.getElementById("data11").innerText = data[0].data11 || '';
                        newWindow.document.getElementById("data21").innerText = data[0].data21 || '';
                        newWindow.document.getElementById("data31").innerText = data[0].data31 || '';
                        newWindow.document.getElementById("data41").innerText = data[0].data41 || '';
                        newWindow.document.getElementById("data51").innerText = data[0].data51 || '';

                        newWindow.document.getElementById("data12").innerText = data[0].data12 || '';
                        newWindow.document.getElementById("data22").innerText = data[0].data22 || '';
                        newWindow.document.getElementById("data32").innerText = data[0].data32 || '';
                        newWindow.document.getElementById("data42").innerText = data[0].data42 || '';
                        newWindow.document.getElementById("data52").innerText = data[0].data52 || '';
                    },

                });
            };
        }


        // updateaccountiteminfo
        function searchTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('#iteminfobody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }
        document.getElementById("itemcode-input").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                openProductModal(event.target.value);
            }
        });
        document.getElementById("itemcode1-input").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                openProductModal(event.target.value);
            }
        });
        function showinfo() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }


        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
        function closeModal1() {
            document.getElementById('modal1').style.display = 'none';
            document.getElementById('overlay1').style.display = 'none';
        }

        function checkData() {
            var rowCount = $('#accountdatatbody tr').length; // 테이블의 행 수 확인
            if (rowCount == 0) { // 행 수가 0인 경우
                $('#accountdatatbody').append('<tr><td colspan="12">데이터가 없습니다.</td></tr>'); // 메시지 추가
            }
        }






    </script>

</body>

</html>